<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <link rel="icon" href="../images/movie-symbol-of-video-camera_icon-icons.com_72981.png">
        <link rel="stylesheet" href="../css/style.css">
        <title>indextest</title>
        <style>
            
        </style>
    </head>
        
    <body>

        <!--client wants this rick roll feature-->
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">Click Me</a>

        <h1>FiloMovies</h1>

        <!--this action="" will bring the input to a backend file for processing when the GO button is clicked-->
        <form action="indextestlocal.html">
            <!--id="" will be useful for backend and css-->
            <!--only inputs with name="" will be submitted-->
            <input required name="movie_title" id="movie_title" type="text" placeholder="search movie">
            <button type="submit">GO</button>
        </form>
    
        <div id="movies">
            <a id="Shrek1" href="Shrek_1.html">
                <img class="movieposter_multiple" src="../images/Shrek_1.jpg" alt="A movie poster of Shrek 1">
                <p class="movietitle">Shrek</p>
            </a>
            
            
            <a id="Shrek2" href="Shrek_2.html">
                <img class="movieposter_multiple" src="../images/Shrek_2.jpg" alt="A movie poster of Shrek 2">
                <p class="movietitle">Shrek 2</p>
            </a>

            <a id="Shrek3" href="Shrek_3.html">
                <img class="movieposter_multiple" src="../images/Shrek_3.jpg" alt="A movie poster of Shrek 3">
                <p class="movietitle">Shrek 3</p>
            </a>
            <span class="stretch"></span>
        </div>
        

    </body>
</html>