<!DOCTYPE html>
<html lang="en">

    <head>
        <title>FiloMovies</title>
        <meta name="description" content="FiloMovies is a movie search up website project for CSE442">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{url_for('static', filename='images/movie-symbol-of-video-camera_icon-icons.com_72981.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
       <div class="HMcontainer" style="margin-top: 8%;">
       <div class="col-md-6 col-md-offset-3">     
        <div class="row">
              <div id="logo" class="text-center">

              <h1>FiloMovie</h1>
       
              </div>
           <form action="{{url_for('search')}}" method="post">
            <!--id="" will be useful for backend and css-->
            <!--only inputs with name="" will be submitted-->
            <input required name="movie_title" id="movie_title" type="text" placeholder="  Search movie...">
            <button type="submit" class = "go">GO</button>
           </form>
         </div>            
       </div>
       <p>Find where to stream your favorite movie!</p>
    </div>
        
    </body>

</html>