<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="icon" href="../static/images/movie-symbol-of-video-camera_icon-icons.com_72981.png">-->
    <link rel="icon" href="{{url_for('static', filename='images/movie-symbol-of-video-camera_icon-icons.com_72981.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <script>
        var obj = JSON.parse('{{ movieDetails | tojson | safe}}');

        //modify html using the parsed JSON data
        $("document").ready(function(){
            
            //insert movie poster image
            $("#image").attr("src", obj.movie_image);
            $("#image").attr("alt", "A movie poster of " + obj.movied_title);

            //insert movie description
            $("#desc").html(obj.movie_desc);

            console.log(obj.streaming_services);

            var providersList = obj.streaming_services;
            
            //insert streaming services
            if (providersList.length == 0){
                $(".streaming_services").append("<div class='API'>" + "No Provider Available! " + "</div>");
            }
            else{
                $.each(providersList, function(index, value) {
                    $(".streaming_services").append("<div class='API'>" + value + "</div>");
                });
            }

        });
    </script>

    <title>Document</title>
</head>


    <div class="container">
        <div class="movie_poster_and_description">
            <img id="image" class="movieposter_specific" src="" alt=""/>
            <p id="desc" class="moviedescription_specific"></p>
        </div>
        <div class="streaming_services">
            <h1 class="streaming_title">Available on</h1>
            <!-- this is where the script inserts the JSON data for streaming services-->
        </div>
        
    </div>
    <div class="back_button">
        <a href="{{url_for('home')}}" >Back to Search</a>
    </div>
    

    

    
    <!-- this was my attempt without jquery-->
    <!--
    <script>
        var clicked_movie = '{"movie_id": "1", "movie_title": "Shrek", "movie_image": "Shrek image", "movie_desc": "Shrek desc", "stream_providers": ["fubotV", "Showtime Amazon Channel", "Showtime Roku Premium Channel", "Showtime", "DIRECTV", "Spectrum On Demand"]}'
        var clicked_movie2 = '{"movie_id": "2", "movie_title": "Forrest Gump", "movie_image": "https://image.tmdb.org/t/p/original/saHP97rTPS5eLmrLQEcANmKrsFl.jpg", "movie_desc": "Forrest Gump Desccription", "stream_providers": ["fubotV", "Showtime Amazon Channel", "Showtime Roku Premium Channel", "Showtime", "DIRECTV", "Spectrum On Demand"]}'

        var obj = JSON.parse(clicked_movie)
        document.getElementById("id").innerHTML = obj.movie_id;
        document.getElementById("title").innerHTML = obj.movie_title;
        document.getElementById("image").innerHTML = obj.movie_image;
        document.getElementById("desc").innerHTML = obj.movie_desc;
        document.getElementById("providerslength").innerHTML = obj.stream_providers.length;
        document.getElementById("providers").innerHTML = obj.stream_providers[0];

        
    </script>
    -->
    

</body>
</html>