<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="{{url_for('static', filename='images/movie-symbol-of-video-camera_icon-icons.com_72981.png')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            // Parse movie result json object
            var movieObjList = JSON.parse('{{ search_result | tojson | safe}}');
            
            // Movie Not Found
            if (movieObjList.moviesFound.length == 0){
                $("document").ready(function(){
                    $(".error").html("Movie not found (search is case sensitive and must type out the movie title exactly)")
                });   
            }
            // Too many results
            else if (movieObjList.moviesFound.length >= 20){
                $("document").ready(function(){
                    $(".error").html("<p align='center'> <strong> Too many results. Please be more specific. </strong> </p>")
                });   
            }
            else{
                // #52 iterate through the movie list and display posters
                jQuery.each(movieObjList.moviesFound, function(i, val)
                {
                    $("document").ready(function()
                    {
                        //insert new movie box for movie
                        $(".movies").append("<div class='s1'></div>");

                        //insert new <a> for movie
                        $(".s1").append("<a id='" + movieObjList.moviesFound[i].movie_id + "'</a>"); 
                        
                        // appending click event to eat movie cover
                        var movieData = movieObjList.moviesFound[i];
                        $("#"+ movieObjList.moviesFound[i].movie_id).click(function() {
                            $.ajax({
                                type : 'POST',
                                url : "{{url_for('json_handler')}}",
                                contentType: 'application/json',
                                data : JSON.stringify(movieData),
                                success: function(data, textStatus, jqXHR){
                                    console.log(jqXHR.status);
                                    window.location.href= "{{url_for('movie_details')}}";
                                }
                            });
                        
                        });

                        //append image to the <a id...>
                        $("#" + movieObjList.moviesFound[i].movie_id).append("<img id='" + movieObjList.moviesFound[i].movie_title + "' class='movieposter_multiple' src='" + movieObjList.moviesFound[i].movie_image + "' alt='A movie poster of " + movieObjList.moviesFound[i].movie_title + "'/>");

                        //append title to the <a id...>
                        $("#" + movieObjList.moviesFound[i].movie_id).append("<p id='t" +movieObjList.moviesFound[i].movie_title + "' class='movietitle'>" + movieObjList.moviesFound[i].movie_title + "</p>");
                        

                    });

                });

            $(".movies").append("<span class='stretch'></span>");
            }

        </script>

        <title>indextest</title>
    </head>
        
    <body>
        

        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">Free Candy</a>

        <!--NOTE: #35 this action will bring the input to the backend when the GO button is clicked-->
        <div class = "nunu">
          <form action="{{url_for('search')}}" method="post">
            <!--id="" will be useful for backend and css-->
            <!--only inputs with name="" will be submitted-->
            <input required name="movie_title" id="movie_title" type="text" placeholder=" Search movie" minlength="1">
            
          </form>
        </div>
        
        <div class="mo"></div>
        <p class="error"></p>

        <div class="movies">

            <!--template for a movie to be added-->
            <!--
            <div class = "s1">
                <a id="14" href="{{url_for('movie_details')}}">
                    <img class="movieposter_multiple" src="" alt="A movie poster of Shrek 1"/>
                    <p class="movietitle">Shrek</p>
                </a>
            </div>
            -->

            <!-- <div class = "s1">
                <form action="{{url_for('movie_details')}}" method="post">
                    <input type="hidden" name="movie_id" value="helsadk">
                    <button type="submit">
                        <a id="14" href="{{url_for('movie_details')}}">
                            <img class="movieposter_multiple" src="" alt="A movie poster of Shrek 1"/>
                            <p class="movietitle">Shrek</p>
                        </a>
                    </button>
                </form>
            </div> -->
            

            <!--I put this line after the for loop in the script-->
            <!--<span class="stretch"></span>-->

        </div>
        
        <script src="jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

    </body>
</html>