<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="icon" href="../static/images/movie-symbol-of-video-camera_icon-icons.com_72981.png">-->
    <link rel="icon" href="../images/movie-symbol-of-video-camera_icon-icons.com_72981.png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('home')}}">Home Page</a>

    <div>
        <img class="movieposter_specific" src="{{url_for('static', filename='images/Shrek_2.jpg')}}" alt="A movie poster of Shrek 2">
        <p>Once upon a time, in a far away swamp, there lived an ogre named Shrek (Mike Myers) whose precious solitude is suddenly shattered by an invasion of annoying fairy tale characters. They were all banished from their kingdom by the evil Lord Farquaad (John Lithgow). Determined to save their home -- not to mention his -- Shrek cuts a deal with Farquaad and sets out to rescue Princess Fiona (Cameron Diaz) to be Farquaad's bride. Rescuing the Princess may be small compared to her deep, dark secret.</p>
        <h1 class="API">Netflix</h1>
        <h1 class="API">Amazon Prime</h1>
        <h1 class="API">Disney+</h1>
        <h1 class="API">Hulu</h1>
    </div>
</body>
</html>