<!DOCTYPE html>
<html lang="en">

    <head>
        <title>FiloMovies</title>
        <meta name="description" content="FiloMovies is a movie search up website project for CSE442">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{url_for('static', filename='images/movie-symbol-of-video-camera_icon-icons.com_72981.png')}}">
    </head>

    <body>
        <h1>FiloMovies</h1>

        <!--this action="" will bring the input to the backend when the GO button is clicked-->
        <form action="../indextest.html">
            <input name="movie_title" id="movie" type="text" placeholder="search movie">
            <button type="submit">GO</button>
        </form>

        <p>Find where you can stream your favorite movies!</p>
        
    </body>

</html>